<!-- INCLUDE overall_header.html -->

<h1>{L_BB3HIDE}</h1>

<p>{L_TITLE_EXPLAIN}</p>

<form id="acp_board" method="post" action="{U_ACTION}">
	<fieldset>
		<legend>{L_BB3HIDE_STANDART_BBCODES}</legend>
		<dl>
			<dt><label for="bb3hide_hide">{L_BB3HIDE_HIDE}{L_COLON}</label><br /><span>{L_BB3HIDE_HIDE_EXPLAIN}</span></dt>
			<dd>
				<label><input class="radio" type="radio" name="bb3hide_hide" value="1"<!-- IF BB3HIDE_HIDE --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
				<label><input class="radio" type="radio" name="bb3hide_hide" value="0"<!-- IF not BB3HIDE_HIDE --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="bb3hide_hideplus">{L_BB3HIDE_HIDEPLUS}{L_COLON}</label><br /><span>{L_BB3HIDE_HIDEPLUS_EXPLAIN}</span></dt>
			<dd>
				<label><input class="radio" type="radio" name="bb3hide_hideplus" value="1"<!-- IF BB3HIDE_HIDEPLUS --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
				<label><input class="radio" type="radio" name="bb3hide_hideplus" value="0"<!-- IF not BB3HIDE_HIDEPLUS --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="bb3hide_ignorelimit_groups">{L_BB3HIDE_IGNORELIMIT_GROUPS}{L_COLON}</label><br /><span>{L_BB3HIDE_IGNORELIMIT_GROUPS_EXPLAIN}</span></dt>
			<dd>
				<select id="bb3hide_ignorelimit_groups" name="bb3hide_ignorelimit_groups[]" multiple="multiple">
					{BB3HIDE_IGNORELIMIT_GROUPS}
				</select>
			</dd>
		</dl>
		<dl>
			<dt><label for="bb3hide_ghide">{L_BB3HIDE_GHIDE}{L_COLON}</label><br /><span>{L_BB3HIDE_GHIDE_EXPLAIN}</span></dt>
			<dd>
				<label><input class="radio" type="radio" name="bb3hide_ghide" value="1"<!-- IF BB3HIDE_GHIDE --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
				<label><input class="radio" type="radio" name="bb3hide_ghide" value="0"<!-- IF not BB3HIDE_GHIDE --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="bb3hide_ghideplus">{L_BB3HIDE_GHIDEPLUS}{L_COLON}</label><br /><span>{L_BB3HIDE_GHIDEPLUS_EXPLAIN}</span></dt>
			<dd>
				<label><input class="radio" type="radio" name="bb3hide_ghideplus" value="1"<!-- IF BB3HIDE_GHIDEPLUS --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
				<label><input class="radio" type="radio" name="bb3hide_ghideplus" value="0"<!-- IF not BB3HIDE_GHIDEPLUS --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="bb3hide_uhide">{L_BB3HIDE_UHIDE}{L_COLON}</label><br /><span>{L_BB3HIDE_UHIDE_EXPLAIN}</span></dt>
			<dd>
				<label><input class="radio" type="radio" name="bb3hide_uhide" value="1"<!-- IF BB3HIDE_UHIDE == 1 --> checked="checked"<!-- ENDIF --> /> {L_UHIDE_USERID}</label>
				<label><input class="radio" type="radio" name="bb3hide_uhide" value="0"<!-- IF BB3HIDE_UHIDE == 0 --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{L_ACP_SUBMIT_CHANGES}</legend>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		</p>
		{S_FORM_TOKEN}
	</fieldset>
</form>
<!-- INCLUDE overall_footer.html -->
